---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Article from '../components/Article.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import Media from '../components/Media.astro';
import FAQ from '../components/FAQ.astro';
import Scheduling from '../components/Scheduling.astro';
import Banner from '../components/Banner.astro';
import News from '../components/News.astro';
import Links from '../components/Links.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

import siteData from '../data/siteData.json';
---

<Layout title={siteData.site.title} description={siteData.site.description}>
  <Header />

  <main>
    <Hero
      title={siteData.hero.title}
      content={siteData.hero.content}
      image={siteData.hero.image}
      imagePosition={siteData.hero.imagePosition}
    />
    <Article />
    <Services />
    <Gallery />
    <Media />
    <FAQ />
    <Scheduling />
    <Banner />
    <News />
    <Links />

    <Contact />
  </main>

  <Footer />
</Layout>
